 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
 
    <title>Sample App</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
 
    <link href="justified-nav.css" rel="stylesheet">
 
</head>
 
<body ng-controller="HomeCtrl">
    <div class="col-xs-12">
        <textarea type="text" maxlength="50" ng-model="sampleText" spellcheck="true">
        </textarea>
        {{ sampleText }}
    </div>
    <button ng-click="textSummary">Evaluate</button>
    {{ textSummary }}
</body>